<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Sasquatch Websighting</title>
</head>
<body class="col-10 mx-auto">
    <div class="d-flex justify-content-between">
        <h1>Sasquatch Websighting</h1>
        <div>
            <h3 style="text-align: end;">{{user.first_name}} {{user.last_name}}</h3>
            <div class="btn-group-vertical" style="width: 200px; margin-left: 10%; align-items: end;">
                <a href="/dashboard"><button class="btn btn-primary">Dashboard</button></a>
                <a href="/logout"><button class="btn btn-primary mt-1">Logout</button></a>
            </div>
        </div>
    </div>
    <div>
        <h2>Edit this Sighting</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <form action="/sighting/update/{{sighting.id}}" class="d-flex justify-content-around mt-5" method="post">
            <div class="col-5">
                <div class="row" style="margin-top: 5%;">
                    <label for="location" class="col">Location:</label>
                    <input type="text" name="location" class="col" value="{{sighting.location}}">
                </div>
                <div class="row mt-5">
                    <label for="info" class="col">Info:</label>
                    <textarea name="info" cols="30" rows="10" class="col">{{sighting.info}}</textarea>
                </div>
                <input type="submit" class="btn btn-primary mt-5" value="Edit">
            </div>
            <div class="col-2">
                <div class="col" style="margin-top: 10%;">
                    <label for="date" class="row">Date of Sighting:</label>
                    <input type="date" class="row form-control" name="date" value="{{sighting.date}}">
                </div>
                <div class="col" style="margin-top: 60%;">
                    <label for="num_of_squatches" class="row">Number of Sasquatches:</label>
                    <select name="num_of_squatches" style="width: 80%; text-align: right;">
                        <option value="0"{% if sighting.num_of_squatches == 0 %} selected = 'selected' {% endif %}>0</option>
                        <option value="1"{% if sighting.num_of_squatches == 1 %} selected = 'selected' {% endif %}>1</option>
                        <option value="2"{% if sighting.num_of_squatches == 2 %} selected = 'selected' {% endif %}>2</option>
                        <option value="3"{% if sighting.num_of_squatches == 3 %} selected = 'selected' {% endif %}>3</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</body>
</html>